/* Destaque para o Plano Ouro */
.pricing-block.featured {
    transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-block.featured:hover {
    transform: translateY(-10px);
    background-color: rgb(240, 199, 88);
    font-size: 12pt;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
