<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>SUA ESCOLHA</h3>
            <h2 class="section-title">Temos o plano certo para o seu pet</h2>
        </div>

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>Plano Básico</h3>
                <p class="pricing-sub">Versão básica</p>
                <div class="pricing">
                    <div class="price"><span>R$</span>&nbsp;19</div>
                    <p>Plano inclui apenas pets de pequeno porte, apenas 1 animal</p>
                </div>
                <ul>
                    <li>5 Consultas</li>
                    <li>2 Exames</li>
                    <li>1 atendimento</li>
                    <li>Hospital</li>
                    <li>Todas vacinas inclusas</li>
                </ul>
                <a href="#" class="button">ASSINE HOJE</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div class="pricing-block-content">
                <h3>Plano Ouro</h3>
                <p class="pricing-sub">Versão intermediária</p>
                <div class="pricing">
                    <div class="price"><span>R$</span>&nbsp;29</div>
                    <p>Plano inclui pets de pequeno e médio porte, apenas 1 animal</p>
                </div>
                <ul>
                    <li>10 Consultas</li>
                    <li>4 Exames</li>
                    <li>3 atendimento</li>
                    <li>Hospital</li>
                    <li>Todas vacinas inclusas</li>
                </ul>
                <a href="#" class="button">ASSINE HOJE</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>Plano Diamante</h3>
                <p class="pricing-sub">Versão máxima</p>
                <div class="pricing">
                    <div class="price"><span>R$</span>&nbsp;45</div>
                    <p>Plano inclui todos tamanhos de pets, pode até 2 animais</p>
                </div>
                <ul>
                    <li>17 Consultas</li>
                    <li>6 Exames</li>
                    <li>6 atendimento</li>
                    <li>Hospital</li>
                    <li>Todas vacinas inclusas</li>
                </ul>
                <a href="#" class="button">ASSINE HOJE</a>
            </div>
        </div>
        <!--End Pricing Block-->

    </div>
</section>
<!--End of Pricing Tables-->