<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>Graças ao Pet Shop Iggy & Luck, fico tranquilo sabendo que meus cachorrinhos estão sendo bem cuidados</q>
                <footer>— João da Silva, Tatuador</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>ACREDITE EM NÓS</h3>
                <h2 class="section-title">Concentrando-se no que importa</h2>
                <p class="section-subtitle">Sabemos que seu pet é mais que apenas um animal de estimação - ele é parte da família. Nosso compromisso é proporcionar o melhor cuidado e os produtos mais variados para garantir que seu amigo peludo tenha uma vida longa, saudável e feliz.</p>
            </div>
            <p>Desde rações premium e petiscos deliciosos até brinquedos inovadores e acessórios estilosos, oferecemos tudo o que seu pet precisa em um só lugar.
            </p>
            <p>
                Nossa equipe de especialistas é apaixonada por animais e está sempre pronta para oferecer conselhos personalizados e serviços de alta qualidade. Oferecemos uma ampla gama de serviços, incluindo banho e tosa, atendimento veterinário, e até mesmo adestramento. 
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                Veja nosso vídeo! <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="../assets/images/dancer.jpg" alt="Dancer"/>
        </div>

    </div>


</div>
<!--End of Content Section-->