<mat-card>
  <mat-card-header>
    <mat-card-title>Usuário cadastrados no sistema</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formulario">
      <mat-form-field class="full-width">
        <mat-label>Cpf</mat-label>
        <input type="cpf" matInput formControlName="cpf" placeholder="João Fulano">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="buscarPorCpf()">Buscar</button>
    <button mat-stroked-button color="accent" (click)="limparFormulario()">Limpar</button>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="fonteDados">
  @for (coluna of colunas; track coluna) {
  <ng-container [matColumnDef]="coluna.def">
    <th mat-header-cell *matHeaderCellDef>
      {{coluna.cabecalho}}
    </th>
    <td mat-cell *matCellDef="let row">
      {{coluna.conteudo(row)}}
    </td>
  </ng-container>
  }

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletarUsuario(element.id)">
            <mat-icon>clear</mat-icon>
            <span>Excluir</span>
          </button>
          <button mat-menu-item (click)="editarUsuario(element.id)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="mostrarColunasDinamicas"></tr>
  <tr mat-row *matRowDef="let row; columns: mostrarColunasDinamicas;"></tr>
</table>