 <!--Introduction-->
 <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>SUCCESSO</h3>
                <h2 class="section-title">O que você pode esperar de nós?</h2>
                <p class="section-subtitle">Sabemos que cada pet é único, e trabalhamos arduamente para atender às necessidades individuais de cada um, garantindo uma experiência agradável e segura para você e seu companheiro.</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>HTML5 &amp; CSS3</h4>
                    <p>Temos um site com as tecnologias mais modernas do mercado</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Velocidade</h4>
                    <p>Somos extremamente rápidos em nossos chamados de emergência para socorrer seu cachorrinho</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Disponibilidade</h4>
                    <p>Estamos disponíveis todos os dias da semana, 24 horas por dia!</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Alcance</h4>
                    <p>Disponíveis em todo Brasil e outros 11 países!</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->