<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>UM PET SHOP PARA TODOS OS ANIMAIS</h1>
                <h2>Fundado por pesquisadores de Fortaleza, o Pet Shop Iggy & Luck se preocupa com o bem estar dos animaiS. Cadastre-se e fale conosco!</h2>
            </div>

            <!--Call to Action-->
            <div class="login-cadastro">
                <a routerLink="/login" routerLinkActive="active" class="button login-button">Login</a>
                <a routerLink="" routerLinkActive="active" class="button cadastro-button">Cadastre-se</a>
            </div>

            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->
</header>